<h1>All Questions</h1>
<%= paginate @questions %>

<table>
  <thead>
    <th>Question</th>
  </thead>
    <tr>
      <td class = "description"></td>
      <td class = "link"></td>
      
      <% @questions.each do |question|%>
      <td><%= question.description %> </td>
      <td><%= link_to "Purchase Lead!", question_path(question)%>
    </tr>
    
    <%end%>
</table>



