<h1>All Questions</h1>
<table>
  <thead>
    <th>Question</th>
  </thead>
    <tr>
      <% @questions.each do |question|%>
      <td><%= question.description %> </td>
      <td><%= link_to "Purchase Lead!", question_path(question)%>
    </tr>
    <%end%>
</table>



