.purchase_group{
  border: 2px solid #7F8C8D;
  background-color:white;
  opacity:1;
  width: 50%;
  margin:auto;
  height:200px;
  margin-top:5%;
  padding:20px;
  border-radius:10px;
  box-shadow: 0 0 5px 5px #888;
}

/*questions index*/
.message{
  float:right;
  margin-top:10px;
  width: 38%;
  background: white;
  opacity:.9;
  box-shadow: 0 0 2px 2px #888;
  border: 2px solid #7F8C8D;
  border-radius:10px;
  color: #34495e;
  padding: 8px;
}

.message a {
  color: #34495e;
}

.list_wrap{
  width: 50%;
  float:left;
}

.list_bg{
  background-color:white;
  width: 95%;
  border: 2px solid #7F8C8D;
  color: #34495e;
  opacity: .9;
  border-radius: 10px;
  padding: 10px;
  float:left;
  position:relative;
  margin-bottom:10px;
  box-shadow: 0 0 2px 2px #888;
}

.lead_button{
  float:right;
  width: 50%;
  position:relative;
  bottom:40px;
  margin-bottom:-50px;
}

.lead_button button{
  float:right;
}

/*Pagination Bar*/

.pagination{
  clear:both;
}

.pagination ul{
  background:white;
  opacity:.9;
  box-shadow: 0 0 2px 2px #888;
}

.pagination ul > li.active > a{
  background: #7F8C8D;
}
.pagination ul > li > a{
  color: #34495e;
}

.pagination ul > li > a:hover{
  color: #ECF0F1;
  background: #7F8C8D;
  border-color: #2C3E50;
}
/*Tag Cloud*/

.tagsinput{
  background: white;
  opacity:.9;
  height: auto;
  box-shadow: 0 0 2px 2px #888;
  border: 2px solid #7F8C8D;
}

#tag_cloud {
  width: 40%;
  float: right;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

.tagsinput a{
  color:black;
}

.tagsinput .tag{
  background: #95A5A6;
}

/*http://graphicfusiondesign.com/blog/design/creating-fancy-css3-fade-in-animations-on-page-load/*/


.user_registration{
  color:black;
  text-decoration: none;
  background-color:black;
  text-decoration: none;
  color:white;
  width:150px;
}

a{
  color:white;
  text-decoration: none;
}


.slider_bg{
  background-color: black;
  line-height: 60px;
  width: 45%;
  position: absolute;
  margin-top: 100px;
  margin-left: -1000px;
  color: white;
  text-align: right;
  padding-right: 20px;
  opacity: .8;
  margin-left: -30px;
  text-decoration: none;

}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}
 
.fade-in.one {
-webkit-animation-delay: 1s;
-moz-animation-delay: 1s;
animation-delay: 1s;
}
 
.fade-in.two {
-webkit-animation-delay: 4s; 
-moz-animation-delay:4s;
animation-delay: 4s;
}
 
.fade-in.three {
-webkit-animation-delay: 6s;
-moz-animation-delay:6s;
animation-delay: 6s;
}

.modal{
  display:hidden;
  width: 510px;
}

.modal-body{
  padding-left:20px;
}

.modal_field{
  margin-left:30px;
}

.modal_field_2{
  margin-left:26px;
}

.modal_field_3{
  margin-left:32px;
}