.login-group{
  border: 2px solid #7F8C8D;
  background-color:white;
  opacity:1;
  width: 20%;
  margin:auto;
  height:275px;
  margin-top:9%;
  padding:20px;
  border-radius:10px;
  box-shadow: 0 0 5px 5px #888;
}

.actions{
  margin-top:10px;
}

.remember{
  margin-top:1px;
}