.login-group, .add-money, #phone_section{
  border: 2px solid #7F8C8D;
  background-color:white;
  opacity:1;
  width: 30%;
  margin:auto;
  height:325px;
  margin-top:9%;
  padding:20px;
  border-radius:10px;
  box-shadow: 0 0 5px 5px #888;
}

.actions{
  margin-top:10px;
}

.remember{
  margin-top:1px;
}

.add-money{
  height:35%;
  width: 35%;
}

.list_wrap{
  width: 50%;
  float:left;
}

#phone_section {
  height: 225px;
  width: 35%;
  float: right;
  margin-top:0;
}

.pagination{
  clear:both;
}
