<!DOCTYPE html>
<html>
<head>
  <title>Leadgen</title>
  <script type="text/javascript" src="https://js.stripe.com/v2/">
    Stripe.setPublishableKey(ENV["STRIPE_PUBLIC_KEY"]);
  </script>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>
</body>
</html>
